*{
    padding: 0;
    margin: 0;
}
html{
    background-size: cover;
    background-repeat: no-repeat;
}
/* Navigation */
#nav{
    width: 100%;
    height: 8vh;
    background-color: rgb(0, 255, 251);
    position: fixed;
}

a.text{
    text-decoration: none;
    position: relative;
    top: 1.5vh;
    color: black;
    width: 10vw;
    height: 8vh;
}
.options{
    position: relative;
    width: 10vw;
    height: 8vh;
    text-align: center  ;
    padding: 0 0.5vw;
    background-color: rgb(0, 255, 251);
    display: inline-block;
    transition-duration: 0.2s;
    font-family: "Playwrite CZ", cursive;
    font-size: 1rem;   
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;


}
.options:hover{
    background-color: rgb(255, 255, 255);
    transition-duration: 0.2s;
    cursor: pointer;
}

#content{
    position: relative;
    top: 8vh;
}

#header{
    position: absolute;
    top: 5vh;
    width: 100vw;
    font-size: 7em;
    text-align: center;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}
